
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NPOI</title>
</head>
<body>
    <p>@Html.ActionLink("exportExcel", "exportExcel")</p>
    <p>@Html.ActionLink("exportFile", "exportFile")</p>
    <p>@Html.ActionLink("importExcel", "importExcel")</p>
</body>
</html>
