
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TestJsonp</title>
</head>
<body>
    <a href="~/Views/Api/JsonpClient.html">~/Views/Api/JsonpClient.html</a>
</body>
</html>
